{% extends 'portfolio/base.html' %}

{% block content %}

<h1 style="text-align: center;">My blog</h1>

<h2 style="text-align: center;">Daniel has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>

<br><br>
{% for blog in blogs %}
<div class="container" style="padding: 5px">
    <div class="row">
        <div class="col">
            <div class="card-deck">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"> <a href="{% url 'blog:detail' blog.id %}">{{  blog.title  }}</a> </h5>
                        
                        <p class="card-text">
                            <p>{{ blog.description|striptags|truncatechars:75 }}</p> 
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ blog.date|date:'d M Y' }}</small>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


{% endfor %}

{% endblock %}

